# EDA: describe

Es una ampliacion de la informacion descriptiva del metodo *describe()* de *Pandas*.

In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_iris
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 99
import numpy as np
from datetime import datetime
from analysis import describe_numeric, describe_categorical, info, describe_datetime, describe_bivariate

---
## LOAD *Iris* data

In [2]:
# load dataset
dataset = load_iris()
dataset.keys()
# dataset to df
data = pd.DataFrame(dataset.data, columns = dataset.feature_names)
data['class'] = dataset.target
dclass = dict()
for i, ic in enumerate(dataset.target_names):
    dclass[i] = ic
data['class'] = data['class'].map(dclass)

# descriptive analysis: *Iris*

In [3]:
info(data)

                     dtype  unique  magnitude  %nan  num_records
variable
class               object     3.0        NaN   0.0          150
sepal length (cm)  float64     NaN        0.0   0.0          150
sepal width (cm)   float64     NaN        0.0   0.0          150
petal length (cm)  float64     NaN        0.0   0.0          150
petal width (cm)   float64     NaN        0.0   0.0          150

### numerical

In [4]:
# describe
dfn = describe_numeric(data, alpha = .05)
dfn

,count,mean,std,min,5%,25%,50%,75%,95%,max,kurtosis,skew,uniform,gaussian,unimodal
sepal length (cm),150,5.84,0.83,4.3,4.60,5.1,5.80,6.4,7.25,7.9,-0.57,0.31,False,False,True
sepal width (cm),150,3.06,0.44,2.0,2.34,2.8,3.00,3.3,3.80,4.4,0.18,0.32,False,True,True
petal length (cm),150,3.76,1.77,1.0,1.30,1.6,4.35,5.1,6.10,6.9,-1.40,-0.27,False,False,False
petal width (cm),150,1.20,0.76,0.1,0.20,0.3,1.30,1.8,2.30,2.5,-1.34,-0.10,False,False,True

### categorical

In [5]:
# describe
dfc = describe_categorical(data, max_size_cats = 3, alpha = .05)
dfc

,count,unique,uniform,value0,value1,value2,%value0,%value1,%value2
var,,,,,,,,,
class,150,3,True,setosa,virginica,versicolor,33.33,33.33,33.33

### bivariate relationship

In [6]:
describe_bivariate(data)

,variable1,variable2,depend_corr,depend_chi2,samples_same_dist_anova
0,sepal length (cm),sepal width (cm),True,NaN,NaN
1,sepal length (cm),petal length (cm),True,NaN,NaN
2,sepal length (cm),petal width (cm),True,NaN,NaN
3,sepal width (cm),petal length (cm),True,NaN,NaN
4,sepal width (cm),petal width (cm),True,NaN,NaN
5,petal length (cm),petal width (cm),True,NaN,NaN
0,class,petal length (cm),NaN,NaN,True
1,class,petal width (cm),NaN,NaN,True
2,class,sepal length (cm),NaN,NaN,True
3,class,sepal width (cm),NaN,NaN,True

---
## LOAD *Titanic* data

In [7]:
import seaborn
data = seaborn.load_dataset('titanic')
data.shape

(891, 15)

# descriptive analysis: *Titanic*

In [8]:
info(data)

                dtype  unique  magnitude   %nan  num_records
variable
deck         category     8.0        NaN  77.22          203
sibsp           int64     7.0        NaN   0.00          891
parch           int64     7.0        NaN   0.00          891
embarked       object     4.0        NaN   0.22          889
embark_town    object     4.0        NaN   0.22          889
pclass          int64     3.0        NaN   0.00          891
class        category     3.0        NaN   0.00          891
who            object     3.0        NaN   0.00          891
survived        int64     2.0        NaN   0.00          891
sex            object     2.0        NaN   0.00          891
adult_male       bool     2.0        NaN   0.00          891
alive          object     2.0        NaN   0.00          891
alone            bool     2.0        NaN   0.00          891
age           float64     NaN        1.0  19.87          714
fare          float64     NaN        1.0   0.00          891

### numerical

In [9]:
# describe
dfn = describe_numeric(data, alpha = .05)
dfn

,count,mean,std,min,5%,25%,50%,75%,95%,max,kurtosis,skew,uniform,gaussian,unimodal
age,714,29.7,14.53,0.42,4.00,20.12,28.00,38.0,56.00,80.00,0.17,0.39,False,False,True
fare,891,32.2,49.69,0.00,7.22,7.91,14.45,31.0,112.08,512.33,33.20,4.78,False,False,True

### categorical

In [10]:
# describe
dfc = describe_categorical(data.copy(), max_size_cats = 4, alpha = .05)
dfc

,count,unique,uniform,value0,value1,value2,value3,%value0,%value1,%value2,%value3
var,,,,,,,,,,,
survived,891,2,False,0,1,,,61.62,38.38,,
pclass,891,3,False,3,1,2,,55.11,24.24,20.65,
sex,891,2,False,male,female,,,64.76,35.24,,
sibsp,891,7,False,0,1,2,others,68.24,23.46,3.14,5.17
parch,891,7,False,0,1,2,others,76.09,13.24,8.98,1.68
embarked,889,3,False,S,C,Q,,72.44,18.9,8.66,
class,891,3,False,Third,First,Second,,55.11,24.24,20.65,
who,891,3,False,man,woman,child,,60.27,30.42,9.32,
adult_male,891,2,False,True,False,,,60.27,39.73,,
deck,203,7,False,C,B,D,others,29.06,23.15,16.26,31.52
embark_town,889,3,False,Southampton,Cherbourg,Queenstown,,72.44,18.9,8.66,
alive,891,2,False,no,yes,,,61.62,38.38,,
alone,891,2,False,True,False,,,60.27,39.73,,

### bivariate relationship

In [11]:
describe_bivariate(data)

      variable1    variable2 depend_corr depend_chi2 samples_same_dist_anova
0           age         fare        True         NaN                     NaN
0      survived       pclass         NaN        True                     NaN
1      survived          sex         NaN        True                     NaN
2      survived        sibsp         NaN        True                     NaN
3      survived        parch         NaN        True                     NaN
4      survived     embarked         NaN        True                     NaN
5      survived        class         NaN        True                     NaN
6      survived          who         NaN        True                     NaN
7      survived   adult_male         NaN        True                     NaN
8      survived         deck         NaN       False                     NaN
9      survived  embark_town         NaN        True                     NaN
10     survived        alive         NaN        True                     NaN
11     survived        alone         NaN        True                     NaN
12       pclass          sex         NaN        True                     NaN
13       pclass        sibsp         NaN        True                     NaN
14       pclass        parch         NaN       False                     NaN
15       pclass     embarked         NaN        True                     NaN
16       pclass        class         NaN        True                     NaN
17       pclass          who         NaN        True                     NaN
18       pclass   adult_male         NaN        True                     NaN
19       pclass         deck         NaN        True                     NaN
20       pclass  embark_town         NaN        True                     NaN
21       pclass        alive         NaN        True                     NaN
22       pclass        alone         NaN        True                     NaN
23          sex        sibsp         NaN        True                     NaN
24          sex        parch         NaN        True                     NaN
25          sex     embarked         NaN        True                     NaN
26          sex        class         NaN        True                     NaN
27          sex          who         NaN        True                     NaN
28          sex   adult_male         NaN        True                     NaN
29          sex         deck         NaN        True                     NaN
30          sex  embark_town         NaN        True                     NaN
31          sex        alive         NaN        True                     NaN
32          sex        alone         NaN        True                     NaN
33        sibsp        parch         NaN        True                     NaN
34        sibsp     embarked         NaN        True                     NaN
35        sibsp        class         NaN        True                     NaN
36        sibsp          who         NaN        True                     NaN
37        sibsp   adult_male         NaN        True                     NaN
38        sibsp         deck         NaN       False                     NaN
39        sibsp  embark_town         NaN        True                     NaN
40        sibsp        alive         NaN        True                     NaN
41        sibsp        alone         NaN        True                     NaN
42        parch     embarked         NaN       False                     NaN
43        parch        class         NaN       False                     NaN
44        parch          who         NaN        True                     NaN
45        parch   adult_male         NaN        True                     NaN
46        parch         deck         NaN        True                     NaN
47        parch  embark_town         NaN       False                     NaN
48        parch        alive         NaN        True                     NaN
49        parch        alone         NaN        True                     NaN
50     embarked        class         NaN        True                     NaN
51     embarked          who         NaN        True                     NaN
52     embarked   adult_male         NaN        True                     NaN
53     embarked         deck         NaN       False                     NaN
54     embarked  embark_town         NaN        True                     NaN
55     embarked        alive         NaN        True                     NaN
56     embarked        alone         NaN        True                     NaN
57        class          who         NaN        True                     NaN
58        class   adult_male         NaN        True                     NaN
59        class         deck         NaN        True                     NaN
60        class  embark_town         NaN        True                     NaN
61        class        alive         NaN        True                     NaN
62        class        alone         NaN        True                     NaN
63          who   adult_male         NaN        True                     NaN
64          who         deck         NaN        True                     NaN
65          who  embark_town         NaN        True                     NaN
66          who        alive         NaN        True                     NaN
67          who        alone         NaN        True                     NaN
68   adult_male         deck         NaN        True                     NaN
69   adult_male  embark_town         NaN        True                     NaN
70   adult_male        alive         NaN        True                     NaN
71   adult_male        alone         NaN        True                     NaN
72         deck  embark_town         NaN       False                     NaN
73         deck        alive         NaN       False                     NaN
74         deck        alone         NaN        True                     NaN
75  embark_town        alive         NaN        True                     NaN
76  embark_town        alone         NaN        True                     NaN
77        alive        alone         NaN        True                     NaN
0    adult_male          age         NaN         NaN                    True
1    adult_male         fare         NaN         NaN                    True
2         alive          age         NaN         NaN                    True
3         alive         fare         NaN         NaN                    True
4         alone          age         NaN         NaN                    True
5         alone         fare         NaN         NaN                    True
6         class          age         NaN         NaN                    True
7         class         fare         NaN         NaN                    True
8          deck          age         NaN         NaN                    True
9          deck         fare         NaN         NaN                    True
10  embark_town          age         NaN         NaN                   False
11  embark_town         fare         NaN         NaN                    True
12     embarked          age         NaN         NaN                   False
13     embarked         fare         NaN         NaN                    True
14        parch          age         NaN         NaN                    True
15        parch         fare         NaN         NaN                    True
16       pclass          age         NaN         NaN                    True
17       pclass         fare         NaN         NaN                    True
18          sex          age         NaN         NaN                    True
19          sex         fare         NaN         NaN                    True
20        sibsp          age         NaN         NaN                    True
21        sibsp         fare         NaN         NaN                    True
22     survived          age         NaN         NaN                    True
23     survived         fare         NaN         NaN                    True
24          who          age         NaN         NaN                    True
25          who         fare         NaN         NaN                    True

---
## load *Tips* data

In [12]:
import seaborn
data = seaborn.load_dataset('tips')
data.shape

(244, 7)

# descriptive analysis: *Tips*

In [13]:
info(data)

               dtype  unique  magnitude  %nan  num_records
variable
size           int64     6.0        NaN   0.0          244
day         category     4.0        NaN   0.0          244
sex         category     2.0        NaN   0.0          244
smoker      category     2.0        NaN   0.0          244
time        category     2.0        NaN   0.0          244
total_bill   float64     NaN        1.0   0.0          244
tip          float64     NaN        0.0   0.0          244

### numerical

In [14]:
# describe
dfn = describe_numeric(data, alpha = .05)
dfn

,count,mean,std,min,5%,25%,50%,75%,95%,max,kurtosis,skew,uniform,gaussian,unimodal
total_bill,244,19.79,8.90,3.07,9.56,13.35,17.8,24.13,38.06,50.81,1.17,1.13,False,False,True
tip,244,3.00,1.38,1.00,1.44,2.00,2.9,3.56,5.20,10.00,3.55,1.46,False,False,False

### categorical

In [15]:
# describe
dfc = describe_categorical(data, max_size_cats = 6, alpha = .05)
dfc

,count,unique,uniform,value0,value1,value2,value3,value4,value5,%value0,%value1,%value2,%value3,%value4,%value5
var,,,,,,,,,,,,,,,
sex,244,2,False,Male,Female,,,,,64.34,35.66,,,,
smoker,244,2,True,No,Yes,,,,,61.89,38.11,,,,
day,244,4,False,Sat,Sun,Thur,Fri,,,35.66,31.15,25.41,7.79,,
time,244,2,False,Dinner,Lunch,,,,,72.13,27.87,,,,
size,244,6,False,2,3,4,5,6,1,63.93,15.57,15.16,2.05,1.64,1.64

### bivariate relationship

In [16]:
describe_bivariate(data)

    variable1   variable2 depend_corr depend_chi2 samples_same_dist_anova
0  total_bill         tip        True         NaN                     NaN
0         sex      smoker         NaN       False                     NaN
1         sex         day         NaN        True                     NaN
2         sex        time         NaN        True                     NaN
3         sex        size         NaN       False                     NaN
4      smoker         day         NaN        True                     NaN
5      smoker        time         NaN       False                     NaN
6      smoker        size         NaN       False                     NaN
7         day        time         NaN        True                     NaN
8         day        size         NaN        True                     NaN
9        time        size         NaN        True                     NaN
0         day         tip         NaN         NaN                   False
1         day  total_bill         NaN         NaN                    True
2         sex         tip         NaN         NaN                   False
3         sex  total_bill         NaN         NaN                    True
4        size         tip         NaN         NaN                    True
5        size  total_bill         NaN         NaN                    True
6      smoker         tip         NaN         NaN                   False
7      smoker  total_bill         NaN         NaN                   False
8        time         tip         NaN         NaN                   False
9        time  total_bill         NaN         NaN                    True

---
## LOAD *Wine* data

In [17]:
from sklearn import datasets
df = datasets.load_wine()
data = pd.DataFrame(data= np.c_[df['data'], df['target']],columns= list(df['feature_names']) + ['target'])
data['target'] = data['target'].apply(lambda x: df['target_names'][int(x)])
data.shape

(178, 14)

# descriptive analysis: *Wine*

In [18]:
info(data)

                                dtype  unique  magnitude  %nan  num_records
variable
target                         object     3.0        NaN   0.0          178
alcohol                       float64     NaN        1.0   0.0          178
malic_acid                    float64     NaN        0.0   0.0          178
ash                           float64     NaN        0.0   0.0          178
alcalinity_of_ash             float64     NaN        1.0   0.0          178
magnesium                     float64     NaN        1.0   0.0          178
total_phenols                 float64     NaN        0.0   0.0          178
flavanoids                    float64     NaN        0.0   0.0          178
nonflavanoid_phenols          float64     NaN       -1.0   0.0          178
proanthocyanins               float64     NaN        0.0   0.0          178
color_intensity               float64     NaN        0.0   0.0          178
hue                           float64     NaN       -1.0   0.0          178
od280/od315_of_diluted_wines  float64     NaN        0.0   0.0          178
proline                       float64     NaN        2.0   0.0          178

### numerical

In [19]:
# describe
dfn = describe_numeric(data, alpha = .05)
dfn

,count,mean,std,min,5%,25%,50%,75%,95%,max,kurtosis,skew,uniform,gaussian,unimodal
alcohol,178,13.00,0.81,11.03,11.66,12.36,13.05,13.68,14.22,14.83,-0.86,-0.05,False,False,True
malic_acid,178,2.34,1.12,0.74,1.06,1.60,1.87,3.08,4.46,5.80,0.26,1.03,False,False,True
ash,178,2.37,0.27,1.36,1.92,2.21,2.36,2.56,2.74,3.23,1.08,-0.18,False,False,True
alcalinity_of_ash,178,19.49,3.34,10.60,14.77,17.20,19.50,21.50,25.00,30.00,0.44,0.21,False,True,True
magnesium,178,99.74,14.28,70.00,80.85,88.00,98.00,107.00,124.30,162.00,2.01,1.09,False,False,True
total_phenols,178,2.30,0.63,0.98,1.38,1.74,2.36,2.80,3.27,3.88,-0.85,0.09,False,False,True
flavanoids,178,2.03,1.00,0.34,0.55,1.20,2.13,2.88,3.50,5.08,-0.89,0.03,False,False,False
nonflavanoid_phenols,178,0.36,0.12,0.13,0.19,0.27,0.34,0.44,0.60,0.66,-0.65,0.45,False,False,True
proanthocyanins,178,1.59,0.57,0.41,0.73,1.25,1.56,1.95,2.71,3.58,0.51,0.51,False,False,True
color_intensity,178,5.06,2.32,1.28,2.11,3.22,4.69,6.20,9.60,13.00,0.34,0.86,False,False,True
hue,178,0.96,0.23,0.48,0.57,0.78,0.96,1.12,1.28,1.71,-0.37,0.02,False,False,True
od280/od315_of_diluted_wines,178,2.61,0.71,1.27,1.46,1.94,2.78,3.17,3.58,4.00,-1.09,-0.30,False,False,True
proline,178,746.89,314.91,278.00,354.55,500.50,673.50,985.00,1297.25,1680.00,-0.27,0.76,False,False,True

### categorical

In [20]:
# describe
dfc = describe_categorical(data, max_size_cats = 3, alpha = .05)
dfc

,count,unique,uniform,value0,value1,value2,%value0,%value1,%value2
var,,,,,,,,,
target,178,3,True,class_1,class_0,class_2,39.89,33.15,26.97

### bivariate relationship

In [21]:
describe_bivariate(data)

,variable1,variable2,depend_corr,depend_chi2,samples_same_dist_anova
0,alcohol,malic_acid,False,NaN,NaN
1,alcohol,ash,True,NaN,NaN
2,alcohol,alcalinity_of_ash,True,NaN,NaN
3,alcohol,magnesium,True,NaN,NaN
4,alcohol,total_phenols,True,NaN,NaN
5,alcohol,flavanoids,True,NaN,NaN
6,alcohol,nonflavanoid_phenols,True,NaN,NaN
7,alcohol,proanthocyanins,True,NaN,NaN
8,alcohol,color_intensity,True,NaN,NaN
9,alcohol,hue,False,NaN,NaN
10,alcohol,od280/od315_of_diluted_wines,False,NaN,NaN
11,alcohol,proline,True,NaN,NaN
12,malic_acid,ash,True,NaN,NaN
13,malic_acid,alcalinity_of_ash,True,NaN,NaN
14,malic_acid,magnesium,False,NaN,NaN
15,malic_acid,total_phenols,True,NaN,NaN
16,malic_acid,flavanoids,True,NaN,NaN
17,malic_acid,nonflavanoid_phenols,True,NaN,NaN
18,malic_acid,proanthocyanins,True,NaN,NaN
19,malic_acid,color_intensity,True,NaN,NaN
20,malic_acid,hue,True,NaN,NaN
21,malic_acid,od280/od315_of_diluted_wines,True,NaN,NaN
22,malic_acid,proline,False,NaN,NaN
23,ash,alcalinity_of_ash,True,NaN,NaN
24,ash,magnesium,True,NaN,NaN
25,ash,total_phenols,False,NaN,NaN
26,ash,flavanoids,False,NaN,NaN
27,ash,nonflavanoid_phenols,False,NaN,NaN
28,ash,proanthocyanins,False,NaN,NaN
29,ash,color_intensity,True,NaN,NaN
30,ash,hue,False,NaN,NaN
31,ash,od280/od315_of_diluted_wines,False,NaN,NaN
32,ash,proline,True,NaN,NaN
33,alcalinity_of_ash,magnesium,True,NaN,NaN
34,alcalinity_of_ash,total_phenols,True,NaN,NaN
35,alcalinity_of_ash,flavanoids,True,NaN,NaN
36,alcalinity_of_ash,nonflavanoid_phenols,True,NaN,NaN
37,alcalinity_of_ash,proanthocyanins,True,NaN,NaN
38,alcalinity_of_ash,color_intensity,False,NaN,NaN
39,alcalinity_of_ash,hue,True,NaN,NaN
40,alcalinity_of_ash,od280/od315_of_diluted_wines,True,NaN,NaN
41,alcalinity_of_ash,proline,True,NaN,NaN
42,magnesium,total_phenols,True,NaN,NaN
43,magnesium,flavanoids,True,NaN,NaN
44,magnesium,nonflavanoid_phenols,True,NaN,NaN
45,magnesium,proanthocyanins,True,NaN,NaN
46,magnesium,color_intensity,True,NaN,NaN
47,magnesium,hue,False,NaN,NaN
48,magnesium,od280/od315_of_diluted_wines,False,NaN,NaN
49,magnesium,proline,True,NaN,NaN
50,total_phenols,flavanoids,True,NaN,NaN
51,total_phenols,nonflavanoid_phenols,True,NaN,NaN
52,total_phenols,proanthocyanins,True,NaN,NaN
53,total_phenols,color_intensity,False,NaN,NaN
54,total_phenols,hue,True,NaN,NaN
55,total_phenols,od280/od315_of_diluted_wines,True,NaN,NaN
56,total_phenols,proline,True,NaN,NaN
57,flavanoids,nonflavanoid_phenols,True,NaN,NaN
58,flavanoids,proanthocyanins,True,NaN,NaN
59,flavanoids,color_intensity,False,NaN,NaN
60,flavanoids,hue,True,NaN,NaN
61,flavanoids,od280/od315_of_diluted_wines,True,NaN,NaN
62,flavanoids,proline,True,NaN,NaN
63,nonflavanoid_phenols,proanthocyanins,True,NaN,NaN
64,nonflavanoid_phenols,color_intensity,False,NaN,NaN
65,nonflavanoid_phenols,hue,True,NaN,NaN
66,nonflavanoid_phenols,od280/od315_of_diluted_wines,True,NaN,NaN
67,nonflavanoid_phenols,proline,True,NaN,NaN
68,proanthocyanins,color_intensity,False,NaN,NaN
69,proanthocyanins,hue,True,NaN,NaN
70,proanthocyanins,od280/od315_of_diluted_wines,True,NaN,NaN
71,proanthocyanins,proline,True,NaN,NaN
72,color_intensity,hue,True,NaN,NaN
73,color_intensity,od280/od315_of_diluted_wines,True,NaN,NaN
74,color_intensity,proline,True,NaN,NaN
75,hue,od280/od315_of_diluted_wines,True,NaN,NaN
76,hue,proline,True,NaN,NaN
77,od280/od315_of_diluted_wines,proline,True,NaN,NaN
0,target,alcalinity_of_ash,NaN,NaN,True
1,target,alcohol,NaN,NaN,True
2,target,ash,NaN,NaN,True
3,target,color_intensity,NaN,NaN,True
4,target,flavanoids,NaN,NaN,True
5,target,hue,NaN,NaN,True
6,target,magnesium,NaN,NaN,True
7,target,malic_acid,NaN,NaN,True
8,target,nonflavanoid_phenols,NaN,NaN,True
9,target,od280/od315_of_diluted_wines,NaN,NaN,True
10,target,proanthocyanins,NaN,NaN,True
11,target,proline,NaN,NaN,True
12,target,total_phenols,NaN,NaN,True

---
## load *Weather* data

In [22]:
path = 'https://raw.githubusercontent.com/jmquintana79/utilsDS/master/scripts/datasets/data/dataset.weather.csv.gz'
data = pd.read_csv(path)
data['datetime'] = pd.to_datetime(data['datetime'])
data['dtnow'] = [datetime(2022,1,1,12,0,0) for i in range(len(data))]
data['dtrandom'] = pd.to_datetime(np.sort(np.random.choice(pd.date_range('2015-01-01', '2018-01-01', freq='H'), len(data), replace=False)))
data.shape

(17544, 16)

# descriptive analysis: *Weather*

In [23]:
info(data)

,dtype,unique,magnitude,%nan,num_records
variable,,,,,
datetime,datetime64[ns],17544.0,NaN,0.00,17544
dtrandom,datetime64[ns],17544.0,NaN,0.00,17544
WD,object,18.0,NaN,0.06,17533
cloud_coverage,object,14.0,NaN,70.83,5117
dtnow,datetime64[ns],1.0,NaN,0.00,17544
RH (%),float64,NaN,1.0,0.08,17530
WS (m/s),float64,NaN,0.0,0.06,17533
dew_point (degC),float64,NaN,1.0,0.08,17530
irradiation (MJ/m2),float64,NaN,NaN,40.93,10364
local_press (hPa),float64,NaN,3.0,0.00,17544
precipitation (mm),float64,NaN,NaN,80.52,3417
sea-level pressure (hPa),float64,NaN,3.0,0.00,17544
sunlight_duration (h),float64,NaN,NaN,45.45,9570
temperature (degC),float64,NaN,1.0,0.00,17544
vapor_press (hPa),float64,NaN,1.0,0.08,17530
visibility (km),float64,NaN,NaN,70.83,5117

### numerical

In [24]:
# describe
dfn = describe_numeric(data, alpha = .05)
dfn

,count,mean,std,min,5%,25%,50%,75%,95%,max,kurtosis,skew,uniform,gaussian,unimodal
RH (%),17530,68.47,20.44,13.0,34.0,53.00,70.00,85.00,99.00,100.00,-0.89,-0.22,False,False,True
WS (m/s),17533,2.83,1.43,0.0,1.0,1.80,2.50,3.60,5.60,12.20,1.76,1.12,False,False,True
dew_point (degC),17530,9.77,10.32,-20.1,-7.2,0.90,10.70,19.30,23.90,27.30,-1.14,-0.24,False,False,True
irradiation (MJ/m2),10364,0.92,0.94,0.0,0.0,0.11,0.59,1.58,2.83,3.71,-0.26,0.91,False,False,False
local_press (hPa),17544,1010.94,7.52,965.5,998.5,1005.90,1011.00,1016.30,1022.90,1031.30,0.38,-0.30,False,False,True
precipitation (mm),3417,0.94,2.21,0.0,0.0,0.00,0.00,1.00,4.60,40.00,45.60,5.14,False,False,False
sea-level pressure (hPa),17544,1013.82,7.58,968.2,1001.4,1008.70,1013.90,1019.20,1025.90,1034.40,0.36,-0.29,False,False,True
sunlight_duration (h),9570,0.41,0.43,0.0,0.0,0.00,0.20,1.00,1.00,1.00,-1.65,0.37,False,False,False
temperature (degC),17544,16.17,8.18,-2.2,3.6,9.00,16.40,23.00,28.70,37.30,-1.11,-0.01,False,False,True
vapor_press (hPa),17530,14.62,8.82,1.2,3.6,6.50,12.80,22.30,29.70,36.30,-1.16,0.40,False,False,True
visibility (km),5117,17.90,7.69,0.9,5.0,15.00,20.00,20.00,30.00,50.00,0.66,0.40,False,False,False

### categorical

In [25]:
# describe
dfc = describe_categorical(data, max_size_cats = 17, alpha = .05)
dfc

,count,unique,uniform,value0,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,value11,value12,value13,value14,value15,value16,%value0,%value1,%value2,%value3,%value4,%value5,%value6,%value7,%value8,%value9,%value10,%value11,%value12,%value13,%value14,%value15,%value16
var,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
WD,17533,17,False,NNW,NW,S,SSE,NNE,N,NE,SSW,SE,ENE,WNW,E,ESE,SW,W,WSW,C,15.21,13.43,10.26,9.9,7.21,7.07,6.78,5.27,5.26,4.92,4.81,2.89,2.15,1.76,1.52,1.49,0.07
cloud_coverage,5117,13,False,10-,10,0+,0,9,1,8,2,3,7,6,4,5,,,,,32.21,21.91,9.71,7.64,4.34,3.93,3.89,3.79,3.17,3.01,2.7,2.05,1.66,,,,

### datetimes

In [26]:
dfdt = describe_datetime(data)
dfdt

,count,unique,most_frequent,num_most_frequent,first,last,most_frequent_td,%most_frequent_td,num_td
datetime,17544,17544,NaT,NaN,2016-01-01 00:00:00,2017-12-31 23:00:00,"(0 days 01:00:00,)",100.00,1
dtnow,17544,1,2022-01-01 12:00:00,17544,2022-01-01 12:00:00,2022-01-01 12:00:00,"(0 days 00:00:00,)",100.00,1
dtrandom,17544,17544,NaT,NaN,2015-01-01 00:00:00,2017-12-31 22:00:00,"(0 days 01:00:00,)",67.07,9

### bivariate relationships

In [27]:
help(describe_bivariate)

Help on function describe_bivariate in module analysis:

describe_bivariate(data: pandas.core.frame.DataFrame, only_dependent: bool = False, size_max_sample: int = 500, is_remove_outliers: bool = False, alpha: float = 0.05, verbose: bool = False) -> pandas.core.frame.DataFrame
    Describe bivariate relationships.
    df -- data to be analized.
    only_dependent -- only display relationships with dependeces (default, False).
    size_max_sample -- maximum sample size to apply analysis with whole sample. If the sample
                       is bigger are used random subsamples (default, 500).
    is_remove_outliers -- Remove or not univariate outliers (default, False).
    return -- results in a table.

In [31]:
describe_bivariate(data, only_dependent=False, is_remove_outliers = True, size_max_sample=10000000)

,variable1,variable2,depend_corr,depend_chi2,samples_same_dist_anova
0,RH (%),WS (m/s),True,NaN,NaN
1,RH (%),dew_point (degC),True,NaN,NaN
2,RH (%),irradiation (MJ/m2),True,NaN,NaN
3,RH (%),local_press (hPa),True,NaN,NaN
4,RH (%),precipitation (mm),True,NaN,NaN
5,RH (%),sea-level pressure (hPa),True,NaN,NaN
6,RH (%),sunlight_duration (h),True,NaN,NaN
7,RH (%),temperature (degC),True,NaN,NaN
8,RH (%),vapor_press (hPa),True,NaN,NaN
9,RH (%),visibility (km),True,NaN,NaN
10,WS (m/s),dew_point (degC),True,NaN,NaN
11,WS (m/s),irradiation (MJ/m2),True,NaN,NaN
12,WS (m/s),local_press (hPa),True,NaN,NaN
13,WS (m/s),precipitation (mm),True,NaN,NaN
14,WS (m/s),sea-level pressure (hPa),True,NaN,NaN
15,WS (m/s),sunlight_duration (h),True,NaN,NaN
16,WS (m/s),temperature (degC),True,NaN,NaN
17,WS (m/s),vapor_press (hPa),False,NaN,NaN
18,WS (m/s),visibility (km),True,NaN,NaN
19,dew_point (degC),irradiation (MJ/m2),True,NaN,NaN
20,dew_point (degC),local_press (hPa),True,NaN,NaN
21,dew_point (degC),precipitation (mm),True,NaN,NaN
22,dew_point (degC),sea-level pressure (hPa),True,NaN,NaN
23,dew_point (degC),sunlight_duration (h),True,NaN,NaN
24,dew_point (degC),temperature (degC),True,NaN,NaN
25,dew_point (degC),vapor_press (hPa),True,NaN,NaN
26,dew_point (degC),visibility (km),True,NaN,NaN
27,irradiation (MJ/m2),local_press (hPa),True,NaN,NaN
28,irradiation (MJ/m2),precipitation (mm),True,NaN,NaN
29,irradiation (MJ/m2),sea-level pressure (hPa),True,NaN,NaN
30,irradiation (MJ/m2),sunlight_duration (h),True,NaN,NaN
31,irradiation (MJ/m2),temperature (degC),True,NaN,NaN
32,irradiation (MJ/m2),vapor_press (hPa),True,NaN,NaN
33,irradiation (MJ/m2),visibility (km),True,NaN,NaN
34,local_press (hPa),precipitation (mm),True,NaN,NaN
35,local_press (hPa),sea-level pressure (hPa),True,NaN,NaN
36,local_press (hPa),sunlight_duration (h),True,NaN,NaN
37,local_press (hPa),temperature (degC),True,NaN,NaN
38,local_press (hPa),vapor_press (hPa),True,NaN,NaN
39,local_press (hPa),visibility (km),True,NaN,NaN
40,precipitation (mm),sea-level pressure (hPa),True,NaN,NaN
41,precipitation (mm),sunlight_duration (h),True,NaN,NaN
42,precipitation (mm),temperature (degC),True,NaN,NaN
43,precipitation (mm),vapor_press (hPa),True,NaN,NaN
44,precipitation (mm),visibility (km),True,NaN,NaN
45,sea-level pressure (hPa),sunlight_duration (h),True,NaN,NaN
46,sea-level pressure (hPa),temperature (degC),True,NaN,NaN
47,sea-level pressure (hPa),vapor_press (hPa),True,NaN,NaN
48,sea-level pressure (hPa),visibility (km),True,NaN,NaN
49,sunlight_duration (h),temperature (degC),True,NaN,NaN
50,sunlight_duration (h),vapor_press (hPa),True,NaN,NaN
51,sunlight_duration (h),visibility (km),True,NaN,NaN
52,temperature (degC),vapor_press (hPa),True,NaN,NaN
53,temperature (degC),visibility (km),True,NaN,NaN
54,vapor_press (hPa),visibility (km),True,NaN,NaN
0,WD,cloud_coverage,NaN,True,NaN
0,WD,RH (%),NaN,NaN,True
1,WD,WS (m/s),NaN,NaN,True
2,WD,dew_point (degC),NaN,NaN,True
3,WD,irradiation (MJ/m2),NaN,NaN,True
4,WD,local_press (hPa),NaN,NaN,True
5,WD,precipitation (mm),NaN,NaN,True
6,WD,sea-level pressure (hPa),NaN,NaN,True
7,WD,sunlight_duration (h),NaN,NaN,True
8,WD,temperature (degC),NaN,NaN,True
9,WD,vapor_press (hPa),NaN,NaN,True
10,WD,visibility (km),NaN,NaN,True
11,cloud_coverage,RH (%),NaN,NaN,True
12,cloud_coverage,WS (m/s),NaN,NaN,True
13,cloud_coverage,dew_point (degC),NaN,NaN,True
14,cloud_coverage,irradiation (MJ/m2),NaN,NaN,True
15,cloud_coverage,local_press (hPa),NaN,NaN,True
16,cloud_coverage,precipitation (mm),NaN,NaN,True
17,cloud_coverage,sea-level pressure (hPa),NaN,NaN,True
18,cloud_coverage,sunlight_duration (h),NaN,NaN,True
19,cloud_coverage,temperature (degC),NaN,NaN,True
20,cloud_coverage,vapor_press (hPa),NaN,NaN,True
21,cloud_coverage,visibility (km),NaN,NaN,True